@{
    ViewData["Title"] = "Error404";

}
<br />
<br />

<section class="col-md-12">
    <img src="~/images/Error-404.jpg" style="width:70%; height:auto"/>
    <h2>Sorry, page not found </h2>

    <ul class="nav navbar-nav" style="margin-bottom:50px">
        <li ><a asp-controller="Home" asp-action="Index" class="btn btn-success"><i class="fa fa-home"></i>  Home </a></li>
        <li style="margin-left: 10px;"><a asp-controller="Home" asp-action="Contact" class="btn btn-success"><i class="fa fa-phone"></i>  Contact </a></li>
        <li style="margin-left: 10px;"><a asp-controller="Products" asp-action="Index" class="btn btn-success"><i class="fa fa-dollar"></i>  Products </a></li>
    </ul>



</section>




